- Règles générales
 
* N'essayez pas d'exploiter le serveur ou d'agir avec une intention malveillante à son égard.
* Ne tuez pas quelqu'un au hasard. (Connu sous le nom de RDM – Random Death Match)
* Ne harcelez pas et n'ennuyez pas les autres joueurs. Cela inclut le fait d’être raciste ou d’essayer délibérément d’offenser les autres.
* Ne spammez pas. Cela inclut le chat vocal, le chat OOC, les publicités ou toute autre méthode de communication.
* Ne soutenez pas Mingge. Cela inclut l'escalade, le surf, le kill, le blocage, le pont, la poussée, le piège ou le spam.
* Ne créez pas de panneaux textuels offensants ou inappropriés.
* N'utilisez pas un nom RP inapproprié.
* Laissez les administrateurs faire leur travail, s'ils sont occupés, soyez patient et attendez qu'ils finissent
* L'arnaque lors des transactions avec les fournisseurs ou lors de toute transaction de jeu de rôle n'est absolument pas autorisée.
* Aucun CP n'aide. Vous devez être une classe gouvernementale ou un garde du corps engagé par le maire pour assister le CP.
* Dans l’ensemble, faites preuve de bon sens et amusez-vous.
 
 
- Règles de construction
 
* Pendant la construction, installez un panneau indiquant « Construire » pour faire savoir aux autres que vous ne jouez pas un jeu de rôle.
* Ne gênez pas les personnes portant un panneau « Bâtiment ».
* Un joueur doit pouvoir entrer et sortir de votre bâtiment à l'aide d'un cracker de clavier ou d'un crochet de verrouillage.
* N'abusez pas de l'outil de porte décolorée. (Utiliser le pavé numérique pour le spammer constamment ou l'ouvrir et le fermer rapidement)
* Les claviers doivent être connectés à une porte à effacement fonctionnelle.
* Les claviers doivent avoir une durée de maintien de 5 secondes pour les portes qui s'effacent. (Avec un délai initial de 0)
* Ne créez pas de petites fissures dans votre base que les raiders ne peuvent pas voir. (Pièges à tête et à pied)
* Aucun avantage désorientant tel que des pièces noires, des accessoires entièrement invisibles ou des effets de lueur mondiale.
* Ne stockez pas d'entités sur des toits inaccessibles ou dans des zones inaccessibles en général.
* Les bases aériennes ne sont pas autorisées.
